*{
    box-sizing: border-box;
}
body{
    margin: 0 ;
    padding: 0;
    font-size: 12px;
    color: white;
    line-height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 35px;
    margin-bottom: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.flex-items > div {
    padding: 20px;
}
#navbar{
    position: fixed;
    width: 100%;
    padding: 15px 20px;
    background-color: rgba(85, 78, 78, 0.575);
}

p{
    margin: 20px 0;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(31, 141, 80) ;
}
.bg-primary{
    background-color: rgb(15, 192, 94);
}
.bg-secondary{
    background-color: #0473cc;
}
.bg-dark{
    background-color: rgb(58, 51, 51);
    color: white;
}
.bg-white{
    background-color: #fff;
    color: black;
}

/*----*/
#header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./img/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}
#header.bg-blog{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./img/home/blog.jpg) no-repeat center center/cover;
    height: 30vh;
}
#header .logo{
    font-size: 24px;
}
#header .logo span{
    color:rgb(15, 192, 94);  
}
#menu li{
    margin: 0 15px 0 15px;
}
#showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#services{
    color: black;
}
#services i{
    color: #fff;
    border-radius: 50%;
    padding: 1rem;
    background-color: rgb(15, 192, 94);
    margin-bottom: 15px;
}
#services .title{
    font-size: 15px;
}
/*****/
.left, .right{
    width: 50%;
    height: 466px;
}
#solutions{
    width: 100%;
}
.right{
    padding-left: 30px;
    padding-top: 150px;
}
.right .btn{
    border: 1px solid #fff;
}
.left img{
    height: 100%; 
}
.text{
    text-align: center;
    color: black;
}
#cases .lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 0 10px;  
}
#cases img:hover{
    opacity: 0.7;
}
#cases .lists .block{
   /*  width: 384px;
    height: 262px; */
  flex:25%;
  max-width: 25%;
  padding: 4px 4px;
}
#cases .lists .block .block-img{
    /* max-width: 100%; */
}
#blogs, #team{
    margin: 30px 0;
}
.padding-20X{
    padding: 0 20px;
}

#team .team-members .member{
    text-align: center;
    color: black;
}

#team .team-members .member img{
    border-radius: 50%;
}
#request .right{
    color: black;
    background-color: whitesmoke;
}
#request .right .info input{
    display: block;
    width: 96%;
    padding: 10px ;
    border: none ;
    margin: 20px 0;
}
#request .right .info button{
    width: 96%;
    color: #fff;
}

#footer{
    background-color: rgb(58, 51, 51);
    padding: 30px 0 ;
    text-align: center;
}
#footer .social-icons i{
    margin-right: 10px;
}
/*Blog1*/
.blog-img img{
    width: 20%;
    border-radius: 50%;
    margin: 0 auto;
}
.blog-border{
    border-bottom: 1px solid #ccc;
    font-size: 32px;
    padding-bottom: 15px;
}

/*responsive mobile*/
@media(max-width: 768px){
    #navbar {
        display: block; 
        text-align: center;
    }
    #menu{
        margin-top: 20px;
    }
    .flex-items{
        flex-direction: column;
    }
    #solutions, #blogs , #request{
        display: block;
    }
    .left, .right{
        width: 100%;
    }
    #solutions h1 {
        font-size: 20px;
    }
    .right{
        padding-top: 50px;
        height: 325px;
    }
    #cases .lists .block{
       flex:100%;
       max-width: 100%;    
     }

}
/**/
/*Blog*/
