*{
    box-sizing: border-box;
}
body{
    margin: 0 ;
    padding: 0;
    font-size: 12px;
    color: white;
    line-height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
img, span{
    display: block;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 35px;
    margin-bottom: 10px;
}
.container{
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar{
    padding: 15px 20px;
    background-color: rgba(85, 78, 78, 0.575);
}
p{
    margin: 20px 0;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(31, 141, 80) ;
}
.bg-primary{
    background-color: rgb(15, 192, 94);
}
.bg-secondary{
    background-color: #0473cc;
}
/*----*/
#header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./img/home/showcase.jpg) no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
}
#header .logo{
    font-size: 24px;
}
#header .logo span{
    color:rgb(15, 192, 94);
}
#menu li{
    margin: 0 15px 0 15px;
}
#showcase{
    padding: 200px;
    text-align: center;
}

#services .box{
    margin: 40px 20px;
    text-align: center;
    color: black;
}
#services .box .title{
    font-size: 15px;
}
#services .box .icon{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 223px;
    margin-bottom: 20px;
}
#services .box p{
    margin: 10px 0;
}
#services .box .icon i{
    padding-top: 10px;
}
.left, .right{
    width: 50%;
    height: 466px;
}
.right{
    padding-left: 30px;
    padding-top: 150px;
}
.right .btn{
    border: 1px solid #fff;
}
.left img{
    height: 100%;
    min-width: 100%;
}
.text{
    text-align: center;
    color: black;
}
#cases .lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 0 10px;  
}
#cases .lists .block{
    width: 384px;
    height: 262px;
  
}
#cases .lists .block .block-img{
    max-width: 100%;
}
#blogs, #team{
    margin: 30px 0;
}
#team .team-members{
    justify-content: space-around;
}
#team .team-members .member{
    text-align: center;
    color: black;
}
#team .team-members .member img{
    width: 320px;
    border-radius: 50%;
}
#request .right{
    color: black;
    background-color: whitesmoke;
}
#request .right .info input{
    display: block;
    width: 96%;
    padding: 10px ;
    border: none ;
    margin: 20px 0;
}
#request .right .info button{
    width: 96%;
    color: #fff;
}

#footer{
    background-color: rgb(58, 51, 51);
    padding: 30px 0 ;
    text-align: center;
}
#footer .social-icons i{
    margin-right: 10px;
}